- content_for(:title, "クエスト編集")
.container
  .center-block.col-md-6.mx-auto
    = form_with model: @quest_form, url: quest_path, method: :patch, local: true do |f|
      = render partial: "quests/shared/quest_form", locals: {obj: f, is_new_quest_path: false}
