- content_for(:title, "ユーザー編集")
.container
  .center-block.col-md-6.mx-auto
    %h2.text-success.border-bottom.text-center ユーザー編集
    = form_with model: @user, url: registration_path(@user), local: true do |f|
      = render partial: "devise/registrations/registrations_form", locals: {obj: f, user: @user, is_new_user_registration_path: false}
    .mt-3.text-center
      = link_to "退会についてはこちら", pages_withdraw_path
