.container
  .center-block
    .text-center.border-secondary
      %h1.text-success.border-bottom.mb-3 BranChannelとは？
      %p 
        「日々の行動を変化させ、新たな自分に出会うこと」をサポートするサービスです。
        %br
        BranChannelは「Branch（枝分かれ）」「Channel（経路）」を組み合わせた造語です。
        %br
        %b 「Branch」
        は「いつもと違うことをすれば、見方や視点が変わり、新しい発想が生まれる。」という意味を。
        %br
        %b 「Channel」
        は「新しい発想によって導かれる道筋こそが新しい自分に出会う経路となる。」
        という意味をそれぞれに込めて名付けました。
      %h2.text-success.border-bottom.mb-3 使い方
      %p 新規登録及びログインして頂くとページ上部に下記のボタンが表示されます。
.row.justify-content-center.border-bottom.pb-3.text-center.mt-2
  .btn.btn-outline-success.my-1.my-sm-0.btn-lg.col-3.mx-2 作成
  .btn.btn-outline-success.my-1.my-sm-0.btn-lg.col-3.mx-2 一覧
  .btn.btn-outline-success.my-1.my-sm-0.btn-lg.col-3.mx-2 挑戦中
.container
  .center-block
    .text-center.border-secondary
      .mt-4.border-bottom.pb-3
        .btn.btn-outline-success.my-1.my-sm-0.btn-lg.col-4.mx-2 作成
        %br
        クエストの作成を行います。
        %br
        各項目を入力、選択することで作成されます。
        %br
        他のユーザーも挑戦したくなるようなユニークなクエストを作成してみてください。
      .mt-4.border-bottom.pb-3
        .btn.btn-outline-success.my-1.my-sm-0.btn-lg.col-4.mx-2 一覧
        %br
        公開されているクエスト一覧になります。
        %br
        挑戦してみたいクエストに挑戦してください。
        %br
        詳細ページからトークルームに入ることで、クエストについて語り合うことができます。
      .mt-4.border-bottom.pb-3
        .btn.btn-outline-success.my-1.my-sm-0.btn-lg.col-4.mx-2 挑戦中
        %br
        自身が挑戦中のクエスト一覧になります。
        %br
        クエスト達成を目指して行動してみましょう。
