.container
  .center-block.text-center
    %h1.text-success.border-bottom.mb-3 ようこそBranChannelへ
    %p 日々の生活に刺激を感じていますか？
    %p ここでは日々の生活に刺激を与えるため、あなたにはクエストに挑戦していただきます。
    %p クエストはここのユーザー達により作成され、なかにはクエスト達成が難しいものまで様々あります。
    %p 経験値を稼いで、最上級の称号を目指してユニークなクエストに挑戦してみましょう
    = link_to "クエストを覗いてみる", quests_path, class: "btn btn-outline-success my-1 my-sm-0 col-4"
