- content_for(:title, "挑戦一覧")
.container
  .center-block
    - if @challenges.empty?
      .card.m-2.text-center.text-bg-light.col-md-6.mx-auto
        .crad-body.p-3
          %p.card-title.mb-0.text-secondary
            挑戦中のクエストがありません
    - @challenges.each do |challenge|
      = render partial: "challenges/shared/challenge_card", challenge: challenge, locals: {challenge: challenge, is_challenges_path: true}
